# set the udev rule , make the device_port be fixed by rplidar
#
KERNEL=="video*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="085b", MODE:="0777", SYMLINK+="usb_cam"

