<launch>
	<!-- car steering control with joystick or commands from jetson tx1 -->
    <node pkg="tju_car" type="tju_car_node" name="tju_car_node">
		<param name="serial_port" type="string" value="/dev/ttyTHS2"/>
		<!-- set brake button -->
		<param name="brake_button" type="int" value="7"/>
		<!-- set start button -->
		<param name="start_button" type="int" value="6" />
		<!-- set input axis -->
		<param name="axis_linear" type="int" value="1"/>
		<param name="axis_angular" type="int" value="0"/>
		<!-- set max velocity -->
		<param name="max_linear_vel" type="double" value="40"/>
		<param name="max_angular_vel" type="double" value="100"/>
	</node>

    <node respawn="true" pkg="joy" type="joy_node" name="joystick">
		<param name="autorepeat_rate" value="10"/>
    </node>

	<node pkg="tju_car" type="rplidar_node" name="rplidar_node">
		<param name="serial_port"         type="string" value="/dev/rplidar"/>  
		<param name="serial_baudrate"     type="int"    value="115200"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
	</node>

	<node pkg="tju_car" name="usb_cam" type="tju_car_usb_cam_node" output="screen">
		<param name="video_device" value="/dev/video4" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="framerate" value="30" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>
	<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/usb_cam/image_raw"/>
		<param name="autosize" value="true" />
	</node>
</launch>
